#container{
    border: 3px solid;
}

#container p{
    background-color: rgba(127, 255, 212, 0.712);
}

#container > p{
    text-decoration: underline;
}

#container ~ p{
    background-color: rgba(39, 51, 219, 0.637);
}

#container + p{
    text-decoration: underline;
    
}