main{
    border: 3px solid;
    display: flow-root;
}

header{
    margin-bottom: 50px;
    border: 3px solid;
    box-sizing: border-box;
}

.banner{
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
}

#bx01{
    margin: auto;
    width: auto;
    max-height: 100%;
    display: block;
}

#pokeball{
   float: left;
   margin-right: 10px; 
}

#pikachu{
    float: right;
    margin-left: 10px;
}

